body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100%;
  max-width: 380px;
  margin: 0 auto;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.box{
  background-color:transparent ;
  width: auto;
  padding: 15px;
display:inline-block


}
.box h1{ text-align:center;margin:0px}

.labletest label{
  min-width: 100px;
  background-color: transparent;
}

ul {
  list-style: none;
  margin:0;
  padding:0;
  border: 5px solid #e1e1e1;
  box-shadow: 1px 3px 8px #888; 
}
li {
  padding: 10px 15px;
  background:#eee;
}

li:hover {
  padding: 10px 15px;
  background:#eee;
    background: darken(#eee, 5%);
  }

.placeholder {
  background: rgb(255,240,120);
}

.placeholder:before  {
  background: rgb(255,240,120);

    content: "Drop here";
    color: rgb(225,210,90);
}